<app-header></app-header>
<app-sidebar></app-sidebar>
<app-main-wrapper>
  <h1>Autos</h1>
  <my-p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero molestias maiores sit quod voluptatum aliquid culpa rerum minima ab est! Enim debitis repellat magni recusandae. Natus eos sint qui alias!</my-p>
</app-main-wrapper>
<app-main-wrapper>
  <h1>Accesorios</h1>
  <my-p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero molestias maiores sit quod voluptatum aliquid culpa rerum minima ab est! Enim debitis repellat magni recusandae. Natus eos sint qui alias!</my-p>
</app-main-wrapper>
<app-main-wrapper>
  <h1>Respuestos</h1>
  <my-p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero molestias maiores sit quod voluptatum aliquid culpa rerum minima ab est! Enim debitis repellat magni recusandae. Natus eos sint qui alias!</my-p>
</app-main-wrapper>